    body {
      background-color: rgb(40, 40, 40);
      font-family: Arial;
    }

    h1 {
      color: white;
    }

    p {
      color: white;
    }

    .move-icon {
      height: 50px;

    }

    .emoji {
      background-color: transparent;
      border: 3px solid white;
      width: 120px;
      height: 120px;
      padding: 17px;
      border-radius: 50%;
      margin-right: 14px;
      cursor: pointer;
    }

    .result {
      font-size: 25px;
      font-weight: bold;
      margin-top: 50px;
    }

    .score {
      margin-top: 60px;
    }

    .reset-score-button {
      background-color: white;
      border: none;
      font-size: 15px;
      padding: 10px 15px;
      border-radius: 5px;
    }
